useDynLib("rDEA")
import("slam")
import("maxLik")
import("truncreg")
import("truncnorm")

export("multi_glpk_solve_LP")
export("dea")
export("dea.robust")
export("dea.env.robust")
export("rts.test")

